{{define "cluster_machines"}}
{{range .}}
    <tr>
        <td><a href="/hapi/node/{{.ID}}">{{.Name}}</a></td>
        <td><a href="/hapi/node/{{.ID}}">{{.Address}}</a></td>
        <td>{{.ID}}</td>
        <td>{{.Cpu}}</td>
        <td>{{.RamHumanized}}</td>
        <td>{{.Gpu}}</td>
        <td>{{.SinceContact}}</td>
        <td>{{.Tasks}}</td>
        <td>{{.Layers}}</td>
    </tr>
{{end}}
{{end}}
