/curio
/sptool

extern/filecoin-ffi/rust/target
**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
build/.*
/vendor

.idea
.vscode
scratchpad

# The following files are checked into git and result
# in dirty git state if removed from the docker context
!extern/filecoin-ffi/rust/filecoin.pc
