html {
    min-height: 100vh;
    background: rgb(11, 22, 34);
    padding: 0;
}

body {
    margin: 0;
    background: rgb(11, 22, 34);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

* {
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

curio-ux {
    /*  To resemble Clarity Design  */
    color: rgb(227, 234, 237);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    background: RGB(54, 57, 63);
}

.app-head {
    width: 100%;
}

.head-left {
    display: inline-block;
}

.head-right {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #adf7ad;
}

a:hover {
    color: #88cc60;
}

.success {
    color: greenyellow;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/ux/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/ux/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    src: url('/ux/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: url('/ux/fonts/JetBrainsMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: url('/ux/fonts/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/ux/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/ux/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: url('/ux/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}